.field_20px{min-width: 20px;}
.field_50px{min-width: 50px;}
.field_60px{min-width: 60px;}
.field_70px{min-width: 70px;}
.field_75px{min-width: 75px;}
.field_100px{min-width: 100px;}
.field_125px{min-width: 125px;}
.field_150px{min-width: 150px;}
.field_175px{min-width: 175px;}
.field_200px{min-width: 200px;}
.field_250px{min-width: 250px;}